<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mastering_SampleModule::mastering" title="Mastering"
             translate="title"
             module="Mastering_SampleModule"
             sortOrder="900"
             resource="Mastering_SampleModule::mastering"
             action="mastering"
        />
    </menu>
</config>